@import url("banner.css");
@import url("buttons.css");
@import url('cards.css');
@import url('footer.css');

body {
  margin: 0;
  background-color: rgb(170, 170, 170);
}

a {
  text-decoration: none;
}

.container {
  width: 75%;
  margin: 0 auto;
}
